<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家标题</title>
</head>
<body>
    {%if user_state == '0'%}
    你现在还不是商家，升级为商家需要交付10w元保证金，是否支付？
    <a href="{%url 'taobao:decuct' user_id%}">支付</a>
    {%endif%}
     <p>{{user_state}}</p>
    {%if user_state == '1'%}
    <a href="{%url 'taobao:commodity_pub' user_id user_state%}">发布商品</a>
    <a href="{%url 'taobao:commodity_look_pub' user_id user_state%}">查看发布的商品</a>
    <a href="{%url 'taobao:commodity_modify' user_id user_state%}">修改发布的商品</a>
    {%endif%}
</body>
</html>