<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
    {%if user_id %}
        <form action="{% url 'taobao:modify_password_2' user_id%}" method="post">
            {% csrf_token %}
            <h1>正在修改密码</h1><br>
            <h1>Please enter password:</h1><br>
            <input type="text" name="user_password">
            <input type="submit" value="提交">
            <a href="{%url 'taobao:user_TwoTitle' user_id%}"><h1>返回上一页</h1></a>
        </form>
    {%endif%}
</body>
</html>