{%extends "taobao/index.html"%}

{% block content%}
    <center>

        {%if error%}
            <h1>{{error}}</h1>
        {%endif%}
        {%if a%}
            <form action="{%url 'taobao:recharge'%}" method="post">
                {% csrf_token %}
                <h1>正在充值金额：</h1>
                <br>
                <h1>请输入充值金额：</h1>
                <input type="text" name="user_RMB">
                <input type="submit" value="充值">
                <h1>{{form.errors}}</h1>
            </form>
        {%endif%}

    </center>
{% endblock%}
