{% extends "taobao/index.html"%}
{%block content%}
    <center>
        {%if user%}

            <form action="{%url 'taobao:reset_password'%}" method="post">
                {% csrf_token %}
                <h1>账号通过</h1>
                <h1>密保问题是： {{user.user_question}}</h1>
                <br>

                请输入密保答案：
                <input type="text" name="user_answer">
                请输入密码：
                <input type="text" name="user_password">
                <input type="submit" value="确认修改">

                <br>
                {%if question_error%}
                    <h1>密保问题错误</h1>
                {%endif%}
            </form>

        {%endif%}
    </center>
{%endblock%}