<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
</head>
<body>
    <center>
        {%if user%}
            {%if user_id%}
            <form action="{%url 'taobao:reset_password_2' user_id%}" method="post">
                {% csrf_token %}
                账号通过
                    密保问题是： {{user.user_question}}
                <br>
                    {%if question_error%}
                    <h1>密保问题错误</h1>
                    {%endif%}
                请验证密保问题：
                <input type="text" name="user_question">
                请输入密码：
                <input type="text" name="user_password">
                <input type="submit" value="确认修改">
            </form>
            {%endif%}
        {%endif%}
    </center>
</body>
</html>