{% extends "taobao/index.html"%}



{%block content%}
<center>

		<form action="{%url 'taobao:user_Registered'%}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h2>用户账号:<input type="text" name="user_account" placeholder="输入账号，长度为20"><br></h2>
			<h2>用户密码:<input type="text" name="user_password" placeholder="输入密码，长度为20"><br></h2>
			<h2>密保问题:<input type="text" name="user_question" placeholder="输入密保提示问题"><br></h2>
			<h2>密保答案:<input type="text" name="user_answer" placeholder="输入问题答案"><br></h2>
			<h2>真实姓名:<input type="text" name="user_name" placeholder="请输入真实姓名"><br></h2>
			<h2>用户头像:<input type="file" name="user_portrait"></h2>
			<input type="submit" value="注册用户">

            {{form.errors}}
		</form>
</center>
{%endblock%}