<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <style>
    a{
        text-decoration:none
    }
    </style>
</head>
<body>
    <center>
        {% if user_id %}
            <h1>Welcome  to</h1>
            <a href="{%url 'taobao:user_look' user_id%}"><h2>查看账户信息</h2></a>
            <a href="{%url 'taobao:buy' user_id%}"><h2>购买商品</h2></a>
            <a href="{%url 'taobao:modify_password' user_id%}"><h2>修改账户密码</h2></a>
            <a href="{%url 'taobao:recharge' user_id%}"><h2>充值账户余额</h2></a>
            <input type="button" value="退出登录" onClick="location.href= '{%url 'taobao:user_BigTitle'%}'">
        {%endif%}
    </center>
</body>
</html>